html {
  color: #2d2d2d;
}
.btn-primary {
  background-color: #0a7dfa;
  color: white;
  &:focus,
  &:active,
  &:hover {
    opacity: 0.7;
  }
}
.btn-secondary {
  background-color: white;
  color: #0a7dfa;
  &:focus,
  &:active,
  &:hover {
    opacity: 0.7;
  }
}
.dark-grey {
  color: #2d2d2d;
  opacity: 0.8;
}
.light-grey {
  color: #2d2d2d;
  opacity: 0.5;
}
