*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  color: #2d2d2d;
  font-family: "Poppins", sans-serif;
}
.btn-primary {
  background-color: #0a7dfa;
  color: white;
  &:focus,
  &:active,
  &:hover {
    opacity: 0.7;
  }
}
.btn-secondary {
  background-color: white;
  border: 1px solid #0a7dfa;
  color: #0a7dfa;
  &:focus,
  &:active,
  &:hover {
    opacity: 0.7;
  }
}
.dark-grey {
  color: #2d2d2d;
  opacity: 0.8;
}
.light-grey {
  color: #2d2d2d;
  opacity: 0.5;
}
.violet {
  background-color: #f0f6ff;
}
.bg-light-grey {
  background-color: #ebeaed;
}
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}
.hide-scroll-bar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
